<div class="cont">
    <video class="vid" controls autoplay controlsList = "nodownload">
      <source src="{{video.payload.doc.data().Video}}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>