.all_contain{
    background-color: var(--darkgreen);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

.header{
    padding: 5px;
    font-size: 150%;
    display: flex;
    width: 100%;
    color: var(--grey);
    background-color: rgb(38, 70, 63);
  }

.heading{
    width: 100%;
    //border: solid;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.mh3{
    font-family: 'Baskerville';
    color: white;
    justify-self: center;
    align-self: center;
    //margin-left: 35%;
    font-size: 150%;
}
  
.mh2{
    font-family: 'Baskerville';
    color: white;
    justify-self: center;
    align-self: center;
    margin-left: 35%;
    font-size: 50%;
  }

  .date{

    font-family: 'Baskerville';
    color: white;
    font-size: 90%;
  }

  .charts{
      margin: 10px 5px;
      padding: 5px;
      border: solid var(--grey);
      background-color:  rgb(72, 136, 121);
      //flex-basis: 20%;
      width: 30vw;
  }

  .chart{
      border: solid white thin;
      display: flex;
      justify-content: space-around;
  }

  img{
      width:50vw;
      max-height: 80vh;
  }

  .fullimg{
      display: none;
      position: absolute;
      width: 100vw;
      min-height: 100vh;
      background-color: var(--darkgreen);
  }


  .chartcont{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
  }

  .buttons{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.button{
    background-color: black;
    color: var(--lightgreen);
    margin:2%;
    border-radius: 5px;
    padding: 2%;
    text-align: center;
    font-size: 100%;
}

.homecont{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-basis: 100%;
	justify-content: space-between;
}
img{
    align-self: center;
    width: 100%;
}

.ff{
    font-family: 'Baskerville';
  }

.example-container {
    flex-basis: 100%;
    display: flex;
}

  
.menu{
    background-color: var(--vdarkgreen);
    width: fit-content;
    min-height: 100vh;
    display: flex;
    color: white;
    border-radius: 5px;
    flex-direction: column;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-right: solid thin var(--grey);
}

.content{
    width: 100%;
    min-height: 100vh;
}

.logo{
    font-family: 'Baskerville';
    border-radius: 5px;
    margin-top: 10px;
    background-image: linear-gradient(to bottom, var(--vdarkgreen) ,var(--lightgreen));
    //background-color: linear-gradient(to bottom right, var(--lightgreen) , var(--grey));
    padding: 2%;
    height:fit-content;
    width: 100%;
    align-content: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.logoimg{
    width: auto;
    padding: 5%;
    align-self: center;
    border-radius: 50%;
}

.user{
    font-size: 100%;
    text-align: center;
//border: blueviolet solid;
}

.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row{
    border: var(--darkgrey) solid thin;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    padding: 5px;
    font-size: 100%;
    color: var(--grey);
}

.menuicon{
    margin:5px;
    justify-content: center;
}
.row:hover{
    background-color: var(--greena);
//transition: background-color 0.2s ease
}

.hamburger_icon{
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
    font-size: 150%;
    display: flex;
    width: 100%;
    color: var(--grey);
}

.hi1{
    background-color: rgb(38, 70, 63);
  }



