<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    </mat-sidenav>

    <mat-sidenav-content>
        <p><button mat-button (click)="sidenav.toggle()">
                <div class="hamburger_icon">
                    <div class = "hi"></div>
                    <div class = "hi"></div>
                    <div class = "hi"></div>
                </div>
            </button></p>
    </mat-sidenav-content>
</mat-sidenav-container>