.example-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
    display: flex;
  }
  
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }

  .hi {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }