.all_contain{
    background-color: var(--darkgreen);
    min-height: 100vh;
  }

.cont1{
      border:solid thin white;
      margin: 3px 5%;
      background-color: rgb(72, 136, 121);
      //margin-top: 10%;
}



.homecont{
    display: flex;
    //border: solid white;
    flex-direction: column;
    min-height: 100vh;
    flex-basis: 100%;
    margin-top: 0px;
	//justify-content: space-between;
}
img{
    align-self: center;
    width: 100%;
}

.ff{
    font-family: 'Baskerville';
  }

.example-container {
    flex-basis: 100%;
    display: flex;
}

  
.menu{
    background-color: var(--vdarkgreen);
    width: fit-content;
    min-height: 100vh;
    display: flex;
    color: white;
    border-radius: 5px;
    flex-direction: column;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-right: solid thin var(--grey);
}

.content{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo{
    font-family: 'Baskerville';
    border-radius: 5px;
    margin-top: 10px;
    background-image: linear-gradient(to bottom, var(--vdarkgreen) ,var(--lightgreen));
    //background-color: linear-gradient(to bottom right, var(--lightgreen) , var(--grey));
    padding: 2%;
    height:fit-content;
    width: 100%;
    align-content: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.logoimg{
    width: auto;
    padding: 5%;
    align-self: center;
    border-radius: 50%;
}

.user{
    font-size: 100%;
    text-align: center;
//border: blueviolet solid;
}

.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row{
    border: var(--darkgrey) solid thin;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    padding: 5px;
    font-size: 100%;
    color: var(--grey);
}

.row1{
    border: white solid thin;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    padding: 5px;
    font-size: 100%;
    color: var(--grey);
}

.menuicon{
    margin:5px;
    justify-content: center;
}
.row:hover{
    background-color: var(--greena);
//transition: background-color 0.2s ease
}

.hamburger_icon{
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
    font-size: 150%;
    display: flex;
    width: 100%;
    color: var(--grey);
}

.hi1{
    background-color: rgb(38, 70, 63);
  }

.buttons{
    font-family: 'Baskerville';
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.button{
    background-color: rgb(72, 136, 121);
    color: var(--grey);
    flex-basis: 30%;
    margin:15% 2% 2% 2%;
    border-radius: 5px;
    padding: 2%;
    text-align: center;
    font-size: 100%;
}


.getStarted{
    background-color: white;
    background-image: url("https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9");
    margin: 50% 5%;
    //box-shadow: 3px 3px 5px var(--grey);
    border: solid medium var(--grey);
    font-family: 'Baskerville';
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.mh1{
    font-size: 150%;
    margin-top: -7%;
    background-color: rgba(255, 255, 255, 0.685);
    width: fit-content;
    max-width: 80%;
    align-self: center;
    padding: 0 5%;
    border-radius: 10px;
    color: var(--darkgreen);
  }

.mh2{
    font-family: 'Baskerville';
    color: white;
    justify-self: center;
    align-self: center;
    margin-left: 35%;
    //align-self: flex-end;
    font-size: 50%;
    //border: solid black;
    //width: 100%;
  }