.all_contain{
    //background-image: linear-gradient(to bottom right, var(--darkgreen) , black);
    background-color: var(--darkgreen);
    min-height: 100vh;
} 

.example-container {
flex-basis: 100%;
display: flex;
}

.menu{
    background-color: var(--vdarkgreen);
    width: fit-content;
    min-height: 100vh;
    display: flex;
    color: white;
    border-radius: 5px;
    flex-direction: column;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-right: solid thin var(--grey);
}

.buttons{
    font-family: 'Baskerville';
    display: flex;
    justify-content: space-evenly;
}
.button{
    background-color: rgb(72, 136, 121);
    color: var(--grey);
    justify-self: center;
    border: solid thin var(--vdarkgreen);
    box-shadow: 3px 3px 5px  var(--vdarkgreen);
    margin:2%;
    border-radius: 5px;
    padding: 2%;
    width: 20vw;
    text-align: center;
    font-size: 100%;

}

.mh1{
    font-size: 150%;
    font-family: 'Baskerville';
    margin-top: 10%;
    //margin-top: -7%;
    //background-color: rgba(255, 255, 255, 0.685);
    width: fit-content;
    max-width: 80%;
    align-self: center;
    color: white;
  }

.homecont{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    margin-top: 10%;
    //min-height: 100vh;
    //justify-content: space-even;
    flex-basis: 100%;
}
img{
    align-self: center;
    width: 100%;
}

.ff{
    font-family: 'Baskerville';
  }

.content{
    width: 100%;
    min-height: 100vh;
}

.logo{
    font-family: 'Baskerville';
    border-radius: 5px;
    margin-top: 10px;
    background-image: linear-gradient(to bottom, var(--vdarkgreen) ,var(--lightgreen));
    //background-color: linear-gradient(to bottom right, var(--lightgreen) , var(--grey));
    padding: 2%;
    height:fit-content;
    width: 100%;
    align-content: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.logoimg{
    width: auto;
    padding: 5%;
    align-self: center;
    border-radius: 50%;
}

.user{
    font-size: 100%;
    text-align: center;
//border: blueviolet solid;
}

.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row{
    border: var(--darkgrey) solid thin;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    padding: 5px;
    font-size: 100%;
    color: var(--grey);
}

.menuicon{
    margin:5px;
    justify-content: center;
}
.row:hover{
    background-color: var(--greena);
//transition: background-color 0.2s ease
}

.hamburger_icon{
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
    font-size: 150%;
    display: flex;
    width: 100%;
    color: var(--grey);
}

.cards{
    display:flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: space-evenly;
}

.r{
    display:flex;
    justify-content: space-evenly;
    flex-basis: 30%;
}

.subcard{
    font-family: 'Baskerville';
    display:flex;
    //box-shadow: 2px 2px 5px black;
    flex-direction: column;
    background-color: white;
    background-image: url('/../assets/images/marble.jfif');
    margin:2%;
    flex-basis: 30%;
    text-align: center;
    //justify-content: space-between;
    height: 100%;
    color: var(--darkgreen);
    font-size: 150%;
    font-weight: bold;
    //border: solid thick black;
}

.subcard:hover{
    border: solid thick var(--grey);
}

.subimg{
    width: 50%;
    justify-self: center;
    margin-top: 10px;
}


.button:hover, .button:active{
    background-color: var(--greena);
    border: none;
    box-shadow: none;
}

.hi1{
    background-color: rgb(38, 70, 63);
  }

.mh2{
    font-family: 'Baskerville';
    color: white;
    justify-self: center;
    align-self: center;
    margin-left: 35%;
    //align-self: flex-end;
    font-size: 50%;
    //border: solid black;
    //width: 100%;
}

@media(max-width: 1000px) {

    
    .r1{
        margin-top: -7.5%;
    }

    .buttons{
        margin: 20px 0;
    }
    .button{
        //background-color: rgb(11, 148, 68);
        margin:20px 10% 5% 10%;
        justify-self: center;
        width: 100%;
    }



    .row:hover{
      background-color: var(--greena);
      transition: background-color 0.2s ease
    }

    .cards{
        display:flex;
        //max-width: 100vw;
        flex-direction: column;
        //flex-basis: 80%;
        margin-top: 20%;
        font-family: 'Baskerville';
        justify-content: space-evenly;
        background-color: white;
    }
    
    .r{
        display:flex;
        justify-content: space-evenly;
    }

    .big{
        font-size: 250%;
    }
    
    .subcard{
        box-shadow: 3px 3px 5px black;
        //background-color: rgb(72, 136, 121);
        //flex-basis: 100%;
        flex: 1;
        background-image: url('/../assets/images/marble.jfif');
        background-color: white;
        //width: 100%;
        //border: black thick solid;
        justify-content: center;
        color: var(--darkgreen);
        font-size: 100%;
        height: 120px;
        padding: 2%;
        //border: solid thick black;
    }
    .subcard:hover, .subcard:active{
    
        border: solid thick var(--grey);
        transition: border 0.2s ease
    }
}