.vid{
    display: flex;
    width: 100%;
    height: 40vh;
    padding: 5% 0;
    border: var(--grey) solid thin;
    border-right: none;
    border-left: none;
}
.cont{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--darkgreen);
}

@media(max-height: 400px) {
    .vid{
        height: 100vh;
    }
}