<object class = "mypdf"
  [data]= 'sanitizer.bypassSecurityTrustResourceUrl(note.payload.doc.data().Source)'
  type="application/pdf"
  width="100%"
  height="100vh">
  <iframe class = "mypdf"
    [src]= 'sanitizer.bypassSecurityTrustResourceUrl(note.payload.doc.data().Source)' width="100%"
    height="100vh"
    style="border: none;">
    <p>Your browser does not support PDFs.</p>
  </iframe>
</object>
