/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
    --green: rgb(90, 143, 131);
    --greenh: rgb(90, 143, 131);
    --lightgreen: rgb(56, 104, 93);
    --darkgreen: rgb(55, 100, 90);
    --greena: rgb(55, 100, 90);
    --grey: rgb(220, 220, 220);
    --darkgrey: rgb(78, 78, 78);
    --vdarkgreen: rgb(20, 36, 32);
}


  @font-face {
    font-family: Baskerville;
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/Baskerville.ttf), url(http://themes.googleusercontent.com/static/fonts/librebaskerville/v1/pR0sBQVcY0JZc_ciXjFsKwAUTJOA6-irsSazDq377BE.ttf) format('truetype');
  }

  .title{
    font-family: 'Baskerville';
  }