* {box-sizing:border-box}

.all_contain{
  //background-image: linear-gradient(to bottom right, var(--green) , white);
  background-color: var(--darkgreen);
  //background-color: rgb(4, 99, 7);
  //background-color: white;
  //background-color: var(--vdarkgreen);
  min-height: 100vh;
 // cdkDragLockAxis="x" cdkDrag (cdkDragEnded)="sidenav.toggle()"
}


.getStarted{
  background-color: white;
  background-image: url("https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9");
  margin:-5% 5%;
  //box-shadow: 3px 3px 5px var(--grey);
  border: solid medium var(--grey);
  font-family: 'Baskerville';
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mh1{
  font-size: 200%;
  margin-top: -7%;
  background-color: rgba(255, 255, 255, 0.685);
  width: fit-content;
  align-self: center;
  padding: 0 5%;
  border-radius: 10px;
  color: var(--darkgreen);
}

.mh2{
  font-family: 'Baskerville';
  color: white;
  justify-self: center;
  align-self: center;
  margin-left: 35%;
  //align-self: flex-end;
  font-size: 50%;
  //border: solid black;
  //width: 100%;
}

.homecont{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    flex-basis: 100%;
    margin-top: 0px;
    //background-color: var(--vdarkgreen);
}
img{
    align-self: center;
    width: 100%;
}
/* Slideshow container */
.slideshow-container {
  align-self: center;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0 0% 20% 0%;
  margin: 40px 5% 5% 5%;
  //background-image: linear-gradient(to bottom, var(--vdarkgreen), white);
  display: flex;
}

::ng-deep {
  .carousel-item {
    transition: opacity 1.2s ease !important;;
    display: block !important;
    opacity: 0;
    box-shadow: 10px 10px 10px black;
    margin-top: 15px;
    //margin-bottom: 10%;
    //max-height: 200px;
    height: 100%;
  }

  .carousel-item.active {
    opacity: 1;
  }
}

/* Hide the images by default */
.mySlides {
  //display: none;
  //box-shadow: 2px 2px 5px black;
  align-self: center;
  width: 100%;
  //display: flex;
  //-webkit-animation-duration: 1.5;
  //animation-duration: 1.5s;
  //-webkit-animation-fill-mode: both;
  //animation-fill-mode: both;
}

.img1{
  border-radius: 10px;
  max-height: 50vh;
  //margin-top: -25px;
  //border: solid white;
  border: solid black thin;
}



.ff{
  font-family: 'Baskerville';
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
 // -webkit-animation-duration: 1.5s;
  animation-name: fade;
  //animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.buttons{
    font-family: 'Baskerville';
    display: flex;
    justify-content: space-between;
}
.button{
    background-color: rgb(72, 136, 121);
    color: var(--grey);
    flex-basis: 30%;
    margin:2%;
    border-radius: 5px;
    padding: 2%;
    text-align: center;
    font-size: 100%;
}

.example-container {
  //flex-basis: 100%;
  display: flex;
}


.menu{
  background-color: var(--vdarkgreen);
  width: fit-content;
  min-height: 100vh;
  display: flex;
  color: white;
  border-radius: 5px;
  flex-direction: column;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-right: solid thin var(--grey);
  overflow-y: auto;
  transition: width 0.2s ease;
  //box-shadow: -10px -10px 20px var(--green) inset;
}

.content{
  width: 100%;
  min-height: 100vh;
}

.logo{
  font-family: 'Baskerville';
  border-radius: 5px;
  margin-top: 10px;
  background-image: linear-gradient(to bottom, var(--vdarkgreen) ,var(--lightgreen));
  //background-color: linear-gradient(to bottom right, var(--lightgreen) , var(--grey));
  padding: 2%;
  height:fit-content;
  width: 100%;
  align-content: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.logoimg{
  width: auto;
  padding: 5%;
  align-self: center;
  border-radius: 50%;
}

.user{
  font-size: 100%;
  text-align: center;
  padding-right: 5%;
  //border: blueviolet solid;
}

.items{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row{
  border: var(--darkgrey) solid thin;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: center;
  margin: 5px 0;
  padding: 5px;
  font-size: 100%;
  color: var(--grey);
}

.menuicon{
  margin:5px;
  justify-content: center;
}
.row:hover{
  background-color: var(--greena);
  //transition: background-color 0.2s ease
}

.hamburger_icon{
  //background-color: rgb(38, 70, 63);
  padding: 5px;
  width: 100%;
  font-size: 150%;
  display: flex;
  color: var(--grey);
  //justify-content: space-between;
}

.hi1{
  background-color: rgb(38, 70, 63);
}

@media(max-width: 700px) {
      
      
      .buttons{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 20px 0;
      }
      .button{
          //flex-basis: 30%;
          margin:20px 5% 0 5%;
          border-radius: 5px;
          padding: 2%;
          text-align: center;
          font-size: 100%;
      }

      .row:hover{
        background-color: var(--greena);
        transition: background-color 0.2s ease
      }


      .cdk-drag-disabled{
        margin:0 0 0 0;
      }

      //.menu:active{
       // width: 0px;
      //}
}