<div class="all_contain">
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="over" [(opened)]="opened" style="overflow-y: hidden; position: fixed;" class="menu">
            <div class="hamburger_icon" style="display: flex; justify-content: flex-end;" (click)="sidenav.toggle();">
                <i class="fa fa-bars"></i>
            </div>
            <div class="logo" (swipeleft)="sidenav.toggle();">
                <img src="../assets/images/circle-s.png" class="logoimg">
                <div class="user">Logged in as: <br> {{ user?.email }} </div>
            </div>
            <div class="items" (swipeleft)="sidenav.toggle();">
                <a routerLink="/home" class="row"><i class="fa fa-home menuicon"></i>
                    <div class="ff">Home</div>
                </a>
                <a routerLink="/gpat" class="row"><i class="fa fa-plus menuicon"></i>
                    <div class="ff">GPAT</div>
                </a>
                <a routerLink="/semester" class="row"><i class="fa fa-pencil menuicon"></i>
                    <div class="ff">Semester</div>
                </a>
                <a routerLink="/testseries" class="row"><i class="fa fa-sticky-note menuicon"></i>
                    <div class="ff">Test Series</div>
                </a>
                <a routerLink="/books" class="row"><i class="fa fa-book menuicon"></i>
                    <div class="ff">Books</div>
                </a>
                <a routerLink="/memcharts" class="row"><i class="fa fa-puzzle-piece menuicon"></i>
                    <div class="ff">Memory Chart</div>
                </a>
                <a routerLink="/profile" class="row"><i class="fa fa-user menuicon"></i>
                    <div class="ff">My Profile</div>
                </a>
                <a routerLink="/support" class="row"><i class="fa fa-question menuicon"></i>
                    <div class="ff">Support</div>
                </a>
                <a routerLink="/certification" class="row"><i class="fa fa-certificate menuicon"></i>
                    <div class="ff">Certification</div>
                </a>
                <div class="row" (click)="logout()"><i class="fa fa-sign-in menuicon"></i>
                    <div class="ff">Log Out</div>
                </div>
            </div>
        </mat-sidenav>



        <mat-sidenav-content class="content">
            <div class="hamburger_icon hi1" (click)="sidenav.toggle()" style="position: fixed;">
                <i class="fa fa-bars"></i>
                <div class = "mh2">PHARMACAD</div>
            </div>
            <div class="homecont" (swipeleft)="sidenav.close()" (swiperight)="sidenav.open()">
                <ngb-carousel *ngIf="images" class="slideshow-container" interval="3000"> >

                    <ng-template ngbSlide class="mySlides">
                        <img src="{{images[0].payload.doc.data().image}}" class="img1">
                    </ng-template>

                    <ng-template ngbSlide class="mySlides">
                        <img src="{{images[1].payload.doc.data().image}}" class="img1">
                    </ng-template>

                    <ng-template ngbSlide class="mySlides">
                        <img src="{{images[2].payload.doc.data().image}}" class="img1">
                    </ng-template>

                    <ng-template ngbSlide class="mySlides">
                        <img src="{{images[3].payload.doc.data().image}}" class="img1">
                    </ng-template>

                    <ng-template ngbSlide class="mySlides">
                        <img src="{{images[4].payload.doc.data().image}}" class="img1">
                    </ng-template>

                    <ng-template ngbSlide class="mySlides">
                        <img src="{{images[5].payload.doc.data().image}}" class="img1">
                    </ng-template>

                    <ng-template ngbSlide class="mySlides">
                        <img src="{{images[6].payload.doc.data().image}}" class="img1">
                    </ng-template>

                    <ng-template ngbSlide class="mySlides">
                        <img src="{{images[7].payload.doc.data().image}}" class="img1">
                    </ng-template>

                    <ng-template ngbSlide class="mySlides">
                        <img src="{{images[8].payload.doc.data().image}}" class="img1">
                    </ng-template>

                    <ng-template ngbSlide class="mySlides">
                        <img src="{{images[9].payload.doc.data().image}}" class="img1">
                    </ng-template>
                </ngb-carousel>




                <!-- Full-width images with number and caption text -->


                <!-- Next and previous buttons -->


                <br>

                <!-- The dots/circles -->

                <div class = "getStarted">
                    <div class = "mh1">Get Started</div>
                    <div class="buttons">
                        <a class="button" routerLink="/gpat">GPAT</a>
                        <a class="button" routerLink="/semester">Semester</a>
                        <a class="button" routerLink="/testseries">Test Series</a>
                    </div>
                </div>
            </div>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>